<web-app>

    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>ResultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/ResultServlet</url-pattern>
    </servlet-mapping>

</web-app>